*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    display: flex;
    background-color:  #064662;
    /* height: 50px; */
    font-size: 23px;
    color: #ffeaea;
    align-items: center;

}

.name{
    cursor: default;
    font-size: 45px;
    font-weight: 600;
}

p{
    margin: auto 23px;
}

a:link{
    text-decoration: none;
    color: #ffeaea;
}

a:visited{
    color: #ffeaea;
}

a:hover{
    color: red;
}